* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.roman-numerals-container {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.triad-container {
    display: flex;
    flex-direction: column;
}

.triad {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(106, 235, 194, 0.345);
    padding: 0 20px;
    margin: 20px;
}

.triad-container p {
    font-size: 20px;
    text-align: center;
}

.not-possible {
    color: rgb(148, 148, 148);
    background-color: rgba(191, 61, 61, 0.249);
}